/*------------------------------------------------------------------
 * Multipurpose: Free Template by FreeHTML5.co
 * Author: https://freehtml5.co
 * Facebook: https://facebook.com/fh5co
 * Twitter: https://twitter.com/fh5co
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of styles content]

1 - Header
2 - Hero
3 - CTA
4 - Services
5 - Featured
6 - Recent Posts
7 - Trust
8 - Pricing Tables
9 - Testimonials
10 - Clients
11 - CTA 2
12 - Footer Widgets
13 - Foot Note
--------------------------------------------------------------------*/
/*-----------------------------------
    1 - Header
------------------------------------*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  background-color: none;
  color: #6e6e6e;
  z-index: 1000;
}

header a {
  color: #6e6e6e;
}

header::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  left: 0;
  bottom: -20px;
}
#content {
  position: fixed;
}
.nav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}
.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 15px;
  text-decoration: none;
  color: grey;
}
.nav a:hover {
  color: #fff;
  transition: 0.4s;
}
.nav .close {
  position: absolute;
  top: 0;
  right: 22px;
  margin-left: 50px;
  font-size: 30px;
  color: white;
}
.slide a {
  color: white;
  font-size: 36px;
}
#content {
  padding-left: 50px;
  padding-top: 10px;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 101%;
}
.social {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.social li:not(:last-child) {
  margin-right: 20px;
}
.social a {
  font-size: 14px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ffb6c1;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}
.social a:hover {
  color: #fff;
  background-color: #ffb6c1;
}
.navbar-brand img {
  width: 135px;
}
/*-----------------------------------
    1 - Hero
------------------------------------*/
.hero {
  background-repeat: no-repeat;
  background-image: url("../images/Paakhi.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  min-height: 800px;
}

.hero i {
  margin-left: 30%;
  margin-top: 35%;
  font-size: 90px;
  scroll-behavior: smooth;
  color: whitesmoke;
}

.hero a {
  color: black;
}

/*.hero {
  background-color: #ffb6c1;
}*/

/*-----------------------------------
    1 - CTA
------------------------------------*/

.cta-content {
  padding: 100px 0 90px;
  color: black;
  background-color: #ffb6c1;
  position: relative;
  z-index: 1;
}

.cta-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: -25px;
  left: -1px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.cta-content .btn {
  background-color: #ffb6c1;
  color: black;
}
.cta-content .btn:hover {
  color: black;
  background-color: white;
}

.cta-content .subscribe-btn {
  align-self: flex-end;
  margin-right: 30px;
}

/*-----------------------------------
    1 - Services
------------------------------------*/
.title {
  font-weight: 700;
  text-transform: uppercase;
}
.title h1 {
  font-size: 35px;
}

.title .title-blue {
  color: #26264b;
}
.media-body::before {
  content: " ";
  background: #fc6c85;
  display: block;
  height: 3px;
  width: 170px;
  margin-top: 0%;
  margin: 10px auto 20px;
}
.media-body::after {
  content: " ";
  background: #fc6c85;
  display: block;
  height: 3px;
  width: 170px;
  margin-top: 10%;
  margin: 20px auto 10px;
}
.media-body {
  padding-top: 100px;
  font-size: 25px;
  color: #26264b;
  font-family: "Times New Roman", Times, serif;
}
#btnScrollTop {
  top: 650px;
  position: fixed;
  right: 10px;
  bottom: 50px;

  font-size: 40px;

  margin-bottom: 50%;

  cursor: pointer;
  border: none;

  display: none;
}
#btnScrollTop i {
  color: hotpink;
}

/*-----------------------------------
    1 - Featured
------------------------------------*/
.featured {
  padding: 80px 0;
  background-color: #fafafa;
}

.featured p {
  margin: 35px 0 53px;
}

.featured .media i {
  font-size: 24px;
  color: #ee1515;
}

.featured .media h5 {
  text-transform: uppercase;
  color: #26264b;
}

.featured .btn {
  margin-top: 80px;
}

.featured-img {
  position: relative;
  height: 530px;
  margin-top: 60px;
}

.featured-big {
  position: absolute;
  bottom: 0;
  right: 0;
}

.featured-small {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 25px 0 0;
  background-color: #fff;
}

/*-----------------------------------
    1 - Recent Posts
------------------------------------*/
#initiatives {
  margin-top: 10%;
}
.recent-posts {
  padding: 95px 0 100px;
  background-color: black;
}
.recent-posts .title {
  text-align: center;
}
#initiatives p {
  color: lightgray;
}

.recent-posts .row .col-lg-6:nth-of-type(odd) .post-thumb {
  margin-top: 30px;
}

.recent-posts .row .col-lg-6:nth-of-type(even) .post-thumb {
  margin-bottom: 30px;
}

.single-rpost {
  margin: 35px 0 0;
}

.post-thumb {
  flex: 0 0 273px;
}

.post-content {
  color: #ccc;
  /*margin-left: 30%;
  margin-right: 30%;*/
}
.post-content h3 {
  color: #26264b;
  font-weight: 600;
  font-size: 30px;
}

.post-content h3:hover {
  font-weight: 700;
  text-decoration: none;
}
.post-content p {
  color: #2f2f2f;
}

/*-----------------------------------
    1 - Trust
------------------------------------*/
.trust {
  padding: 75px 0;
  /*background-color: #26264b;*/
  color: #ddd;
  position: relative;
}

.trust .title {
  margin-bottom: 46px;
}

.trust h1 {
  color: #fff;
}

.trust h5 {
  font-size: 24px;
  color: #fefefe;
  margin: 28px 0 12px;
}

.trust ul {
  color: #fff;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.trust li {
  margin-bottom: 15px;
}

.trust .gallery img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.trust .gal-img {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.trust .gal-img i {
  font-size: 72px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

.trust .gal-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.trust .gal-img:hover {
  cursor: pointer;
}

.trust .gal-img:hover i {
  opacity: 1;
}

.trust .gal-img:hover::after {
  opacity: 1;
}

.trust .gal-img3 {
  top: -50%;
  left: 50%;
}

/*-----------------------------------
    1 - Pricing Table
------------------------------------*/
.pricing-table {
  padding: 100px 0px;
}
.single-pricing {
  padding: 65px 0 40px;
  margin-top: 23px;
  color: #fff;
  /*background: #26264b;*/
  border: 0px solid #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.single-pricing span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 15px;
  background-color: transparent;
  position: absolute;
  top: 28px;
  right: 6px;
  transition: all 0.2s ease-in-out;
}

.single-pricing h2 {
  margin-bottom: -5px;
}

.single-pricing .desc {
  color: #9d9d9d;
  padding-bottom: 30px;
  margin-bottom: 32px;
  border-bottom: 2px solid #2f2f2f;
  transition: all 0.2s ease-in-out;
}

.single-pricing .price {
  font-size: 2rem;
  margin-bottom: 8px;
}

.single-pricing p {
  color: #ddd;
}

.single-pricing p:last-of-type {
  margin-bottom: 25px;
}

.single-pricing svg {
  width: 170px;
  position: absolute;
  top: -45px;
  right: -60px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.single-pricing:hover {
  border: 4px solid #fff;
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.16);
  margin: 19px 0 -4px;
}

.single-pricing:hover span {
  background-color: #26264b;
}

.single-pricing:hover .desc {
  color: #fff;
  border-bottom: 2px solid rgba(245, 245, 245, 0.322);
}

.single-pricing:hover svg {
  width: 500%;
  top: -200%;
  right: -50%;
}

.single-pricing:hover .btn {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

/*-----------------------------------
    1 - Testimonials*/
.footer {
  padding-top: 4.625rem;
  padding-bottom: 1rem;
  background-color: black;
}

.footer .footer-col {
  margin-bottom: 2.25rem;
}

.footer h4 {
  margin-bottom: 1rem;
}
.footer h4::after {
  content: " ";
  background: grey;
  display: block;
  height: 0.4px;
  width: 100px;
  margin-top: 10px;
}

.footer .list-unstyled .fas {
  color: #00bfd8;
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .fa-stack {
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.footer .fa-stack .fa-stack-1x {
  color: #fff;
  transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
  color: black;
  transition: all 0.2s ease;
  border: 1px solid hotpink;
}

.footer .fa-stack:hover .fa-stack-1x {
  color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
  color: hotpink;
}
.footer .icon2 {
  color: white;
  margin-left: 45%;
  font-size: 70px;
  scroll-behavior: smooth;
}
